﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Contacto</title>
</head>
<body>
    <div> 
        <p>Roland Arenas
        <br>Correo: Roland2393@gmail.com
        <br>Codigo: 2012272014
        <br>Cel: 3204298665
        </p>
    </div>
</body>
</html>
